



header.masthead {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  color: #fff;
  background-image: url("../img/webinars.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.masthead .masthead-subheading {
  margin-top:50px;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 10rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
  .shadow {
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important
  }
    .shadow-sm {
      box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important
    }
    .shadow-lg {
      box-shadow:0 1rem 3rem rgba(136, 136, 136, 0.175)!important
    }
    .shadow-none {
      box-shadow:none!important
    }
 .default-primary {
  color: rgb(7,17,174);
 }
}